.team_content {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/team_bg.jpg");
  background-size: cover !important;
  background-position: center;
  height: calc(100vh - 100px);
  h3{
    padding-bottom: 60px;
  }
}